.containerNews {
    margin: 10px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxNews {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.boxTitleNews {
    display: flex;
    gap: 15px;
}
.boxActiveNews {
    border: 1px solid black;

}
.activeNews {
    display: flex;
    gap: 15px;
}
.itemStock {
    display: flex;
    border: 1px solid black;
    gap: 10px;
}
.boxStock {
    display: flex;
}