.container {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  height: 200px;
  width: 20%;
  background: #eee1e1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}














.contaianerYa {
  margin: 15px auto;
  width: 80%;
  border: 2px solid red;
}




































.btnCol {
  background: rgb(156, 21, 21);
  color: white;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  transition: .5s;
}

.btnCol:hover {
  background: rgb(135, 18, 18);
}

.btnCol:active {
  background: rgb(226, 17, 17);
  transform: scale(1.1);
}

.collapse {
  display: grid;
  transition: all ease 1s;
  grid-template-rows: 1fr;
  padding: 10px;
  background: yellow;
}

.collapse.hide {
  grid-template-rows: 0fr;
  padding: 0px;
}

.collapse>div {
  overflow: hidden;
}
